MDK-ARM/2024_INFANTRY/
*.bak

*.lst

*.lnp

*.obj

*.tmp

*.TMP

*.__i

*.crf

*.o

*.d

*.axf

*.dep

*.uvopt

*.htm

*.hsc

~*

*.map

*uvgui*

*.uvoptx

*.sct

*JLinkLog.txt

*.dbgconf

.vscode/tags

.vscode/

*.hex

*.lnk


*.scvd
*.iex
*.ini
MDK-ARM/.vscode/keil-assistant.log
MDK-ARM/.vscode/keil-assistant.log
MDK-ARM/.vscode/uv4.log.lock
